/* section {
    margin-top: 4rem;
    height: 100vh;
} */

#skills{
    margin-bottom: -15rem;
}

.skill__content{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
}

.skill__content > div {
    background: var(--color-bg-variant);
    padding: 2.4rem 5rem;
    border-radius: 2rem;
    border: 1px solid transparent;
}

.progress{
    margin-bottom: 0.5rem;
}
/* .skill {
    padding: 0 0 50px 0;
    position: relative;
} */

.skills-box {
    background: #21214f;
    border-radius: 20px;
    text-align: center;
    padding: 20px 50px;
    margin-top: -50px;
}

.skill__container{
    align-items: center;
}


.skill p {
    color: var(--color-light);
    margin: 0 0 10px 0;
}


/* +=+=+=+=+=+= MEDIA QUERY (medium) =+=+=+=+=+=+ */
@media screen and (max-width: 1024px) {
    #skills {
        margin-top: 4rem;
        margin-bottom: -10rem;
    }
}


/* +=+=+=+=+=+= MEDIA QUERY (small) =+=+=+=+=+=+ */
@media screen and (max-width: 600px) {

}